[submodule "frontend"]
	path = frontend
	url = https://github.com/phomies/callcaptcha-frontend.git
[submodule "notification-service"]
	path = notification-service
	url = https://github.com/phomies/robocaptcha-notification.git
[submodule "backend"]
	path = backend
	url = https://github.com/phomies/robocaptcha-backend.git
[submodule "service"]
	path = calls-service
	url = https://github.com/phomies/robocaptcha-service.git
[submodule "documentation"]
	path = documentation
	url = https://github.com/phomies/robocaptcha-documentation
[submodule "calls-service"]
	path = calls-service
	url = https://github.com/phomies/robocaptcha-service
